.Articles {
  margin-top: 6rem;
  padding: 3.4rem 6rem;
}

.Head {
  font-size: 2.4rem;
  color: #fff;
  line-height: 2.9rem;
  margin-bottom: 4.4rem;
}
.Container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.8rem;
  align-items: flex-start;
}
.Boxes {
  display: flex;
  flex-basis: 82%;
  margin-right: 2.4rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.Box {
  background-color: #1d232b;
  margin-right: 4.8rem;
  margin-bottom: 4.4rem;
  width: 31.6rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
}
.Image {
  width: 100%;
}
.ImagesImg {
  width: 100%;
  height: 16rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}
.Links {
  display: flex;
  color: rgba(41, 48, 227, 1);
  justify-content: space-between;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.BoxAbout {
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 2.1rem;
  color: white;
}
.Block {
  padding: 0 0.6rem;
}
.Content {
  font-weight: 300;
  margin: 2rem 0;
  font-size: 1.4rem;
  color: rgb(254, 254, 254, 0.6);
}
.Bottom {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.Left {
  display: flex;
  align-items: center;
}
.LeftImage {
  width: 4rem;
  height: 4rem;
  margin-right: 1.2rem;
  border-radius: 50%;
}
.LeftContent div {
  font-weight: 700;
}
.LeftContent div,
.LeftContent i {
  color: white;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.LeftContent i {
  margin-top: 0.4rem;
}
.Right {
  display: flex;
  align-items: center;
  color: #fff;
}
.Time {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}
.Update {
  padding: 2.4rem 2rem;
  flex: 1;
  color: white;
  min-width: 30.1rem;
  background-color: #1d232b;
}
.Title {
  color: rgba(215, 112, 112, 1);
  font-weight: 700;
  margin-bottom: 2rem;
}

.PopularBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}
.Image {
  flex-basis: 90%;
}
.img {
  width: 9.2rem;
  margin-right: 1.2rem;
  height: 9.2rem;
  border-radius: 1.2rem;
}

.RightPopularBox {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
.PopularLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.3rem;
  align-items: center;
}
.PopularLinks a {
  margin-bottom: 0.5rem;
  margin-right: 1rem;
}
.ButtonPro {
  margin-top: 2rem;
  color: white;
  border: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  background-color: #2930e3;
}
@media only screen and (max-width: 1860px) {
  .Update {
    min-width: 60.1rem;
  }
}
